@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn {
  background-color: oklch(60% 0.2 190);
  transition: all 0.2s;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.btn:hover {
  background-color: oklch(80% 0.3 190);
  /* color: black; */
}

.btn[disabled] {
  background-color: #ccc;
}

.input {
  border: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}
